amqp==5.3.1
annotated-doc==0.0.5
annotated-types==0.8.0
anthropic==0.121.0
anyio==4.14.2
asgiref==3.12.1
asttokens==3.0.2
attrs==26.1.0
beautifulsoup4==4.15.0
billiard==4.2.4
black==26.5.1
celery==5.6.3
certifi==2026.7.22
cffi==2.1.1
chardet==7.5.1
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coverage==7.15.4
crispy-bootstrap5==2026.3
cryptography==50.0.0
distro==1.9.0
dj-database-url==2.3.0
django==6.1
django-celery-results==2.6.0
django-cors-headers==4.9.0
django-crispy-forms==2.7
django-extensions==4.1
django-filter==26.1
django-redis==7.0.0
django-storages==1.14.6
docstring-parser==0.18.0
executing==2.2.1
filelock==3.32.2
flake8==7.3.0
fsspec==2026.7.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.198.0
google-auth==2.56.3
google-auth-httplib2==0.4.1
google-genai==2.17.0
googleapis-common-protos==1.75.0
groq==1.6.0
grpcio==1.83.0
grpcio-status==1.71.2
gunicorn==26.0.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.32.0
httpx==0.28.1
idna==3.18
iniconfig==2.3.0
ipython==9.16.1
ipython-pygments-lexers==1.1.1
jedi==0.20.0
jinja2==3.1.6
jiter==0.16.0
joblib==1.5.3
kombu==5.6.2
lxml==6.1.1
markdown-it-py==4.2.0
markupsafe==3.0.3
matplotlib-inline==0.2.2
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
mypy-extensions==1.1.0
narwhals==2.24.0
networkx==3.6.1
numpy==2.5.1
openai==2.53.0
outcome==1.3.0.post0
packaging==26.3
pandas==3.0.5
parso==0.8.7
pathspec==1.1.1
pexpect==4.9.0
platformdirs==4.11.1
pluggy==1.6.0
prompt-toolkit==3.0.53
proto-plus==1.28.2
protobuf==5.29.6
psutil==7.2.2
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pure-eval==0.2.3
pyasn1==0.6.4
pyasn1-modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.13.4
pydantic-core==2.46.4
pyflakes==3.4.0
pygments==2.20.0
pyparsing==3.3.2
pysocks==1.7.1
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-magic==0.4.27
pytokens==0.4.1
pyyaml==6.0.3
redis==8.1.0
regex==2026.7.19
requests==2.34.2
rich==15.0.0
scikit-learn==1.9.0
scipy==1.18.0
selenium==4.46.0
setuptools==83.0.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.9.2
sqlparse==0.5.5
stack-data==0.6.3
sympy==1.14.0
tenacity==9.1.4
threadpoolctl==3.6.0
tiktoken==0.13.0
tqdm==4.70.0
traitlets==5.16.1
trio==0.33.0
trio-websocket==0.12.2
typer==0.27.1
typing-extensions==4.16.0
typing-inspection==0.4.2
tzdata==2026.3
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
webdriver-manager==4.1.2
websocket-client==1.9.0
websockets==16.1.1
whitenoise==6.12.0
wsproto==1.3.2